USE [Education]
GO
/****** Object:  StoredProcedure [dbo].[usp_Department_Create]    Script Date: 12.08.2025 20:55:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 1) DEPARTMAN CRUD
---------------------------------------------*/
ALTER   PROCEDURE [dbo].[usp_Department_Create]
    @DepartmentName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Departments(DepartmentName)
    VALUES(@DepartmentName);

    SELECT SCOPE_IDENTITY() AS DepartmentID;
END
go
exec[dbo].[usp_Department_Create]''
